.App {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 10px;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "SignPainter", Sans-serif;
  font-size: 46px;
  color: #5ea9aa;
  font-weight: bold;
  margin-bottom: 50px;
  line-height: normal;
}

@media only screen and (max-width: 499px) {
  .heading {
    font-size: 28px;
    margin-bottom: 25px;
  }
  .App {
    padding: 25px 10px;
  }
}

.my-masonry-grid {
  display: flex;
  margin: -10px; /* gutter size offset */
  width: auto;
  max-width: 1200px;
  margin: 0 auto;
}

.my-masonry-grid_column {
  padding: 10px; /* gutter size */
  background-clip: padding-box;
}

.my-masonry-grid img {
  display: block;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
  cursor: pointer;
}

.my-masonry-grid_column img {
  opacity: 0; /* Initially set opacity to 0 */
  transition: opacity 0.5s ease-in-out; /* Add a smooth transition effect */
}

.my-masonry-grid_column img.loaded {
  opacity: 1; /* Set opacity to 1 when the image is loaded */
}

.image-preview img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 0 6px;
}

.image-preview {
  margin: 0 -6px;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(255 255 255 / 80%);
  font-family: "SignPainter", Sans-serif;
  font-size: 24px;
}

.modal-content {
  max-width: 1200px;
  text-align: center;
  padding: 0 30px;
}

.upload,
.download-all {
  cursor: pointer;
  background: #5ea9aa;
  color: white;
  border: none;
  padding: 5px 20px;
  font-size: 20px;
  font-family: "SignPainter", Sans-serif;
  display: block;
}

.upload:focus,
.upload:hover,
.download-all:focus,
.download-all:hover {
  background: #5ea9aa;
}
.upload {
  margin-left: 10px;
}

.download-all {
  margin-right: 10px;
}

.upload-download {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  max-width: 1200px;
}

.yarl__button {
  -webkit-tap-highlight-color: transparent !important;
  -webkit-appearance: none !important;
  appearance: none !important;
  background-color: initial !important;
  background-color: var(--yarl__button_background_color, #0000) !important;
  border: 0 !important;
  border: var(--yarl__button_border, 0) !important;
  color: #fffc !important;
  color: var(--yarl__color_button, #fffc) !important;
  cursor: pointer !important;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.8)) !important;
  filter: var(
    --yarl__button_filter,
    drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.8))
  ) !important;
  line-height: 0 !important;
  margin: 0 !important;
  margin: var(--yarl__button_margin, 0) !important;
  outline: none !important;
  padding: 8px !important;
  padding: var(--yarl__button_padding, 8px) !important;
}
